* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  font-size: 40px;
  font-weight: bold;
  margin: 10px;
  padding: 50px;
}

.container {
  margin: 30px 10px;
  gap: 30px;
  display: flex;
  justify-content: space-between;
}

.left-side {
  padding: 15px;
}

.list-title {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 10px;
  align-items: center;
}

.btn {
  height: 30px;
}

ul {
  border-collapse: collapse;
  border-spacing: 0;
  min-height: 200px;
  width: 100%;
  border: 1px solid rgb(197, 197, 197);
  list-style-type: none;
}

li {
  display: flex;
  justify-content: space-between;
}

li:nth-child(even) {
  background-color: #eeeeee;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 10px;
}

input {
  height: 30px;
  font-weight: bold;
}

.submit {
  width: 50%;
}
